/* pacifico-regular - latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pacifico-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/pacifico-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/pacifico-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/pacifico-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/pacifico-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/pacifico-v17-latin-regular.svg#Pacifico') format('svg'); /* Legacy iOS */
}

/* work-sans-regular - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/work-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/work-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/work-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/work-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/work-sans-v13-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* secular-one-regular - latin */
@font-face {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/secular-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/secular-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/secular-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/secular-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/secular-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/secular-one-v5-latin-regular.svg#SecularOne') format('svg'); /* Legacy iOS */
}

*{
    box-sizing: border-box;
}

.skip{
    position: absolute;
    display: block;
    height: 10px;
    margin: 5px;
    left: -500px;
    font-family: "Franklin Gothic Medium", "Secular One", Sans-serif;
    font-size: 12px;
    color: ghostwhite;
    text-decoration: none;
    background-color: black;
}

.skip:focus{
    left:0px;
    top: 10px;
}

nav{
    text-align: center;
    background-color: black;
    background-image: url(../images/footer.png);
}

nav li{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
}


nav li a{
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Secular One", Sans-serif;
    color: lightgray;
    font-size: 16px;
}



nav li.active{
    background-color: #FC28FB;
}

nav li.active a{
    color: black;
}


nav li:hover a{
    text-decoration: underline;
}

body{
    background-color: #FDEBF7;
    background: linear-gradient(#FDEBF7,40%, #acd8e2,70%, #FDEBF7);
}

main{
    padding: 0 30px 30px;
}

h1{
    font-size: 42px;
    color: #FC28FB;
    text-align: center;
    font-family: "Pacifico", "Franklin Gothic Medium", Sans-serif;
}

h2{
    font-size: 26px;
    color: #FC28FB;
    font-family: "Franklin Gothic Medium","Secular One", Sans-serif;
    padding: 20px 0;
    background-color: white;
}

h3{
    font-size: 18px;
    color: dimgray;
    font-family: "Franklin Gothic Medium","Secular One", Sans-serif;
    font-weight: 400;
    padding: 10px 0;
}

div.seg-begin{
    min-width: 200px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px 10px;
    background-color: white;
    border-radius: 10px;
}


div p{
    line-height: 140%;
    font-family: "Work Sans", "Calibri", Sans-serif;
    font-size: 1em;
    margin-bottom: 25px;
    display: inline-block;
    color: black;
}

div p:last-child{
    margin-bottom: 40px;
}

*::selection{
    background-color: #FC28FB;
    color: white;
}


img{
    display:block;
    margin: 20px auto;
    padding: 3px;
    width: 100%;
    border:dotted 2px #FBCAFF;
    border-radius: 5px;
}

.gallery img{
    margin: 0;
    padding: 0;
    border:0;
    border-radius: 0;
}

div.mid img{
    display: block;
    width: 100%;
    margin: 10px auto;
}

@keyframes animatedImage {
    from {
        opacity: 30%;
        border-radius: 5px;
    }
    to {
        opacity: 100%;
        border-radius: 20px;
    }
}

/*
.gallery img:nth-child(even){
border-color: darkgray;
animation: animatedImage 3s linear infinite alternate;
}
*/

@media screen and (prefers-reduced-motion: reduce){
    /*
    .gallery img:nth-child(even){
    animation: none;
}
    */

    #snow-top-layer {
        animation: none;
    }

    #snow-bottom-layer {
        animation: none;
    }

    .view-sixth:hover{
        animation: none;
        transition: none;
    }
}

img:hover{
    border:solid 2px #FC28FB;
}


div.gallery{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.audio{
    text-align: center;
    padding: 20px 0;
}

audio{
    width: 70%;
}

#overlay{
    max-width: 700px;
    min-width: 200px;
    margin: auto;
    padding-top: 10px;
}


label{
    display: block;
    font-family: "Work Sans", "Calibri", Sans-serif;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: left;
}

input, textarea{
    font-family: "Work Sans", "Calibri", Sans-serif;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    resize: vertical;
}

input[type=submit]{
    font-family: "Franklin Gothic Medium","Secular One", Sans-serif;
    background-color: #FDEBF7;
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
    height: 50px;
}

div.social{
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
}

div.social span{
    font-size: 30px;
    margin-right: 10px;
    vertical-align:middle;  
}

div.social a{
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-family: "Work Sans", "Calibri", Sans-serif;
}


div a:visited{
    color: black;
}

div a:hover{
    text-decoration: underline;
    color: #FC28FB;
}

footer{
    text-align: right;
    text-transform: uppercase;
    padding: 60px 20px 30px;
    background-color: black;
    background-image: url(../images/footer.png);

}

footer p{
    color: white;
    font-style: italic;
    margin-right: 30px;
    font-family: "Franklin Gothic Medium","Secular One",  Sans-serif;
    font-size: 1.5em;
}

div.hero{
    max-width: inherit;
}

.hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-height: 30rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero_content {
    position: relative;
    align-self: center;
    padding: 3rem 0;
}

.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {

    100% {
        transform: translateY(0);
    }

}

.view {
    width: 300px;
    height: 220px;
    margin: 10px;
    border: 10px solid ghostwhite;
    padding-top:0;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view .mask{
    width: auto;
    height: 220px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
    object-fit: cover;
}

.view h2 {
    font-family: "Franklin Gothic Medium", "Secular One", Sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view p {
    font-family: "Work Sans", "Calibri", Sans-serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 15px 0;
    text-align: center;
}
.view a.info {
    display: inline-block;
    font-family: "Franklin Gothic Medium", "Secular One", Sans-serif;
    text-decoration: none;
    padding: 7px 14px;
    margin:0;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}
.view a.info: hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

@media screen and (min-width: 500px){
    img{
        margin: 0 10px 10px;
        padding: 3px 5px;
        border:dotted 2px #FBCAFF;
        border-radius: 5px;
    }


    div.mid img{
        display: block;
        width: 50%;
        margin: 10px auto;
    }

    div.pic{
        display: grid;
        grid-template-columns: 4fr 2fr;
    }

    div.pic h2{
        grid-column: 1/-1;
    }

    div.gallery img{
        width: 100%;
        object-fit: fill;
    }

    .view {
        width: 45%;
    }
    .view .mask{
        width: 100%;
    }
}

.view-sixth img {
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask {
    background-color: rgba(55,82,161,0.5);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in 0.4s;
    -moz-transition: all 0.3s ease-in 0.4s;
    -o-transition: all 0.3s ease-in 0.4s;
    -ms-transition: all 0.3s ease-in 0.4s;
    transition: all 0.3s ease-in 0.4s;
}
.view-sixth h2 {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    -moz-transition: all 0.3s ease-in-out 0.2s;
    -o-transition: all 0.3s ease-in-out 0.2s;
    -ms-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
.view-sixth:hover img {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
.view-sixth:hover h2 {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.view-sixth:hover p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.view-sixth:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,24,102, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    padding: 0;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    font-family: "Franklin Gothic Medium", "Secular One", Sans-serif;
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:visited {
    color:  #818181;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.navin{
    position: fixed;
    margin-bottom: 0;
    padding: 0;
    bottom:15px;
    right: 15px;
    font-size:15px;
    cursor:pointer;
    z-index: 1;
    text-align: center;
}

.navin p:last-child{
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    color: dimgray;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border:solid 1px dimgray;
    border-radius:20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.navin p:hover{
    color: whitesmoke;
    background-color: dimgray;
}

#toc{
    display: none;
    position: sticky;
    padding-top: 60px;
    margin-right: 20px;
    top: 0;
    left: 10px;
    text-align: right;
}

#toc ul{
    margin-top: 20px;
}

#toc li{
    padding: 5px 0;
}

#toc a{
    font-family: "Franklin Gothic Medium", "Secular One", Sans-serif;
    text-decoration: none;
    color: #919191;
    font-style: italic;
}

#toc a.active {
    color: black;
    text-decoration: underline;
}

#toc a:hover {
    color: #FC28FB;
}

#toc img{
    border:0;
    width: 100%;
}

#comment{
    display: none;
}

@media screen and (min-width: 800px){
    nav li{
        display: inline-block;
        width: 160px;
        padding: 15px 0;
    }

    .hero{
        background-attachment: fixed;
    }

    .navin{
        display: none;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 4fr;

    }

    #toc{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column: 1/2;
        grid-row: 1/-1;
    }

    #comment{
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 5px;
        align-items: end;
        position: fixed;
        width: 20%;
        bottom: 20px;
        left: 10px;
    }

    #comment img:first-child{
        padding: 0;
        border: solid 2px white;
        border-radius: 30px;
        bottom: 0;
        opacity:100%;
        grid-column: 1/2;
    }
    #comment img{
        padding: 0;
        border: 0;
        opacity: 90%;
        grid-column: 2/3;
        grid-row:1/2;
    }
    
    #comment p{
        z-index: 4;
        grid-column: 2/3;
        grid-row:1/2;
        margin-left: 20%;
        width: 80%;
        align-self: center;
        text-align: center;
        font-size: 0.7em;
        margin-bottom: 5%;
    }

    .seg-begin{
        grid-column: 2/3;
    }

}