/* pacifico-regular - latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pacifico-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/pacifico-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/pacifico-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/pacifico-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/pacifico-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/pacifico-v17-latin-regular.svg#Pacifico') format('svg'); /* Legacy iOS */
}

/* work-sans-regular - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/work-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/work-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/work-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/work-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/work-sans-v13-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* secular-one-regular - latin */
@font-face {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/secular-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/secular-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/secular-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/secular-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/secular-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/secular-one-v5-latin-regular.svg#SecularOne') format('svg'); /* Legacy iOS */
}

*{
    box-sizing: border-box;
}

.skip{
    position: absolute;
    display: block;
    height: 10px;
    margin: 5px;
    left: -500px;
    font-family: "Franklin Gothic Medium", "Secular One", Sans-serif;
    font-size: 12px;
    color: #5800FF;
    text-decoration: none;
    background-color: white;
}

.skip:focus{
    left:0px;
    top: 10px;
}

nav{
    text-align: center;
    background-color: #FDEBF7;
}

nav li{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
}


@media screen and (min-width: 800px){
    nav li{
        display: inline-block;
        width: 160px;
        padding: 15px 0;
    }

    .hero{
        background-attachment: fixed;
    }
}

nav li a{
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Secular One", Sans-serif;
    color: dimgray;
}



nav li.active{
    background-color: #FC28FB;
}

nav li.active a{
    color: black;
}


nav li:hover a{
    text-decoration: underline;
}

main{
    padding: 0 30px 30px;
    background-color: #FFFFFF;
}

h1{
    font-size: 42px;
    color: #FC28FB;
    text-align: center;
    font-family: "Pacifico", "Franklin Gothic Medium", Sans-serif;
}

h2{
    font-size: 26px;
    color: #FC28FB;
    font-family: "Franklin Gothic Medium","Secular One", Sans-serif;
    padding: 20px 0;
}

h3{
    font-size: 18px;
    color: dimgray;
    font-family: "Franklin Gothic Medium","Secular One", Sans-serif;
    font-weight: 400;
    padding: 10px 0;
}

div{
    max-width: 700px;
    min-width: 200px;
    margin: auto;
    padding-top: 10px;
}


div p{
    line-height: 140%;
    font-family: "Work Sans", "Calibri", Sans-serif;
    font-size: 1em;
    margin-bottom: 25px;
    display: inline-block;
    color: black;
}

div p:last-child{
    margin-bottom: 40px;
}

*::selection{
    background-color: #FC28FB;
    color: white;
}


img{
    display:block;
    margin: 20px auto;
    padding: 3px;
    width: 100%;
    border:dotted 2px #FBCAFF;
    border-radius: 5px;
}

div.mid img{
    display: block;
    width: 100%;
    margin: 10px auto;
}

@keyframes animatedImage {
    from {
        opacity: 30%;
        border-radius: 5;
    }
    to {
        opacity: 100%;
        border-radius: 20px;
    }
}

.gallery img:nth-child(even){
    border-color: darkgray;
    animation: animatedImage 3s linear infinite alternate;
}

@media screen and (prefers-reduced-motion: reduce){
    .gallery img:nth-child(even){
        animation: none;
    }

    #snow-top-layer {
        animation: none;
    }

    #snow-bottom-layer {
        animation: none;
    }
}

@media screen and (min-width: 500px){

    img{
        margin: 0 10px 10px;
        padding: 3px 5px;
        border:dotted 2px #FBCAFF;
        border-radius: 5px;
    }


    div.mid img{
        display: block;
        width: 50%;
        margin: 10px auto;
    }

    div.pic{
        display: grid;
        grid-template-columns: 4fr 2fr;
    }

    div.pic h2{
        grid-column: 1/-1;
    }

    div.gallery img{
        width: 30%;
        object-fit: cover;
    }
}

img:hover{
    border:solid 2px #FC28FB;
}


div.gallery{
    display:flex;
    flex-flow: row wrap;
}

.audio{
    text-align: center;
    padding: 20px 0;
}

audio{
    width: 70%;
}

#overlay{
    max-width: 700px;
    min-width: 200px;
    margin: auto;
    padding-top: 10px;
}


label{
    display: block;
    font-family: "Work Sans", "Calibri", Sans-serif;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: left;
}

input, textarea{
    font-family: "Work Sans", "Calibri", Sans-serif;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
    resize: vertical;
}

input[type=submit]{
    font-family: "Franklin Gothic Medium","Secular One", Sans-serif;
    background-color: #FDEBF7;
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
    height: 50px;
}

div.social{
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
}

div.social span{
    font-size: 30px;
    margin-right: 10px;
    vertical-align:middle;  
}

div.social a{
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-family: "Work Sans", "Calibri", Sans-serif;
}


div a:visited{
    color: black;
}

div a:hover{
    text-decoration: underline;
    color: #FC28FB;
}

footer{
    text-align: center;
    padding: 20px 0;
    background-color: #FDEBF7;
}

footer p{
    color: dimgray;
    font-family: "Franklin Gothic Medium","Secular One",  Sans-serif;
    font-size: 0.8em;
}

div.hero{
    max-width: inherit;
}

.hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-height: 30rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero_content {
    position: relative;
    align-self: center;
    padding: 3rem 0;
}

.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {

    100% {
        transform: translateY(0);
    }

}